body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.card {
    display: flex;
    width: 650px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left {
    flex: 1;
    background-color: #4a90e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.right {
    flex: 2;
    padding: 20px;
    background-color: #fff;
}

h1, h2 {
    margin: 5px 0;
}

h1 {
    color: #333;
    font-size: 24px;
}

h2 {
    color: #666;
    font-size: 18px;
}

span {
    color: #4a90e2;
    font-weight: bold;
}
a {
    color: #4a90e2;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #357db5;
}
